@font-face {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-style: normal;
}

/* IE Viewport Fix */
@-ms-viewport {
  width: device-width;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	font-size: 100%;
	line-height: 1.2;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
}

.clearfix:after, #contents:after {
	clear: both;
	content:"";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#container {
	background-color: #eee;	
	position: relative;
	min-width: 830px;
	min-height: 650px;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	overflow: hidden;
}

/*------------------------------ HEADER ------------------------------*/

	#header {
		width: 100%;
		height: 120px;

		min-width: 830px;
		position: fixed;
		background-color: white;
		top: 0;
		left: 0;
		padding-left: 20px;
		z-index: 1001;

		margin: 0;
		padding: 0;
		border: 0;
		border-bottom: 1px solid #e6e6e6;	/* light grey */
		/*box-shadow: 6px 6px 10px #888888;*/

	}

	/* container for my name */
	#name {
		display: inline-block;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		padding-top: 40px;
		border: 0;
		text-align: center;
	}

	/* font for my name */
	#name h1 {
		font-size: 350%;
		font-family: 'Satisfy', cursive;
		letter-spacing: 2px;
		font-weight: normal;
		vertical-align: middle;
		line-height: normal;
		margin: 0;
		padding: 0;
		border: 0;
	}

	/* remove hyperlink decorations on name*/
	#name h1 a{
		text-decoration: none;
		color: #3e3e3e;
	}

/*------------------------------ FRONT PAGE ------------------------------*/

	#home {
		background-color: white;	
		position: relative;
		min-width: 830px;
		height: 650px;
		margin: 0;
		padding: 0;
		border: 0;

		z-index: 2000 !important;
	}

/*------------------------------ NAVIGATION ------------------------------*/
/*TODO: if height of page doesn't fit entire side navigation, 
compress to a smaller drop-down menu*/

	/* drop-down navigation	*/
		nav#dropnav {
			position: fixed;
			width: 100%;   
			left: 0;
			top: 0;
			z-index: 999;
			height: 50px;
			overflow: visible;
			opacity: 1;
			background: #020202;
			display: none;
		}
		nav#dropnav:after{
			display: inline-table;
			position: relative;
			width: 100%;
		    content: '';
			height: 45px;
			margin-top: 41px;
		}	

		.drop_menu {
			padding:0;
			margin:0;
			list-style-type:none;
			min-height:40px;
			height: auto;
			width: 100%;
			z-index: 100;
			position: absolute;
			top: -700px;
			transition:all 1.1s cubic-bezier(.22,.81,.11,.99);
			-webkit-transition:all 1.1s cubic-bezier(.22,.81,.11,.99);
			-o-transition:all 1.1s cubic-bezier(.22,.81,.11,.99);
			-moz-transition:all 1.1s cubic-bezier(.22,.81,.11,.99);
			}

		.drop_menu.opened_{
			top: 50px;
		}

		.drop_menu:after{
			display: inline-table;
			position: relative;
			width: 100%;
		    content: '';
			height: 45px;
			margin-top: -10px;
		}

		.drop_menu li { 
			float:right; 
			width: 100%;   
			background: #020202;  
			border-top: 1px dashed rgba(141,143,143,.3);
		}
		.drop_menu li a {
			color: #8f8f8f;  
			text-decoration:none;
			float: right;
			margin-right: 12px;
			letter-spacing: 1px; 
			font-weight: 300;
			font-size: 1.2em;  
			line-height: 41px;
			background: #020202;
			opacity: 1;
			-webkit-transition: all 300ms ease-in;
			-moz-transition: all 300ms ease-in;
			transition: all 300ms ease-in;
		}

		.drop_menu li a:hover {
			opacity: .9;
			color:#ffffff;
		}

		#blackBck_{
			position: fixed;
			width: 100%;   
			left: 0;
			top: 0;
			z-index: 999;
			height: 50px;
			z-index: 999;
			background: #020202;	  
		}

		.mobile-toggle {
			cursor: pointer;
			font-size: 2em;
			position: absolute;
			right: 14px;
			top: 14px;
			width: 30px;
			z-index: 999;
			-webkit-transition: all 200ms ease-in;
			-moz-transition: all 200ms ease-in;
			transition: all 200ms ease-in;

			-webkit-transition-delay: 100ms !important;
			-webkit-transition-delay: 100ms !important;
			transition-delay: 100ms !important;
		}

		.mobile-toggle span {
			width: 30px;
			height: 4px;
			margin-bottom: 6px;
			border-radius: 1000px;
			background: #8f8f8f;
			display: block;
		}

	/* side-bar navigation*/

		nav#sidenav {
		    position: fixed;
		    top: 50%;
		    left: 50%;
			margin-top: -170px;
			/*margin-left: -130px;*/
			margin-left: 300px;
		    z-index: 1000;
		}

		/*@media screen and (max-height: 450px) {
			nav#sidenav {padding-top: 15px;}
			nav#sidenav a {font-size: 18px;}
		}*/

		nav#sidenav li {
			height: 40px;
			display: block; 
			position: relative;
		}
		nav#sidenav li h1 { 
			display: none; 

			position: absolute; 

			font-size:0.9em; 
			text-align:left; 
			font-family: 'Roboto',sans-serif;
			font-weight: bold;
			margin: 0;
			border: 0;

			height: 40px;
			left: 55px; 
			top:50%;
			margin-top: -12px;

		}
		nav#sidenav li:hover h1{
			display: block;
		}
		nav#sidenav a{ 
			width: 40px;
			height: 40px;
			display: block;
			position: relative; 
			text-align: center;

			border-radius: 50%;
			padding: 0%;
			box-shadow: 6px 6px 10px #888888;
			background: #3A3A3A;

			color: white;
			font-size: 1.5em;
			line-height: 40px;
		}
		nav#sidenav a:hover{
			background-color: #f99600;
			text-decoration: none;
			width: 50px;
			height: 50px;
			top: -5px;
			left: -5px;
			font-size: 1.875em;
			line-height: 50px;
		}		

		nav#sidenav .current a {			
			text-decoration: none;
			background-color: #f99600;
		}	

	/* navigation on main page*/

		nav#bottomnav {
			position: relative;
			margin: 0;
			border: 0;
			padding: 0;
		}
		nav#bottomnav li {
			position: relative;
			display: inline-block;
			margin-top: 5px;
			margin-left: 5px;
			margin-right: 5px;
		}
		nav#bottomnav a { 
			width: 40px;
			height: 40px;
			display: inline-block;
			position: relative; 
			text-align: center;

			border-radius: 50%;
			padding: 0%;
			box-shadow: 6px 6px 10px #888888;
			background: #3A3A3A;

			color: white;
			font-size: 1.5em;
			line-height: 40px;
		}
		nav#bottomnav a:hover{
			background-color: #f99600;
			text-decoration: none;
		}		

/*------------------------------ CONTENTS ------------------------------*/
	#contents {
		width: 600px;
		margin: 0;
		padding: 0;
		border: 0;
		display: inline-block;
		position: relative;
		text-align: left;
		background-color: #eee;	/* light grey */
	}
	.contents:before {
		content:"";
		display: inline-block;
		vertical-align: top;
		height: 100%;
	}

	h1 {
		color: #3e3e3e;
		font-family: 'Satisfy',cursive;
		font-size: 4em;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		padding-bottom: 10px;
		padding-top:0.5em;
		/*width: 350px;*/
	}
	h2 {
		color: #2c2c2c;
		font-size: 2em;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		padding-bottom: 10px;
	}
	h3 {
		color: #3e3e3e;
		font-size: 1.75em;
		letter-spacing: 1px;
		font-family: 'Oswald',sans-serif;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		border-bottom: 1px solid #e0e0e0;
		text-transform: uppercase;
		text-align: left;
		padding-top: 1em;
	}
	h4{
		color: #3e3e3e;
		font-size: 1.25em;
		letter-spacing: 1px;
		font-family: 'Satisfy',sans-serif;
		font-weight: normal;
		line-height: 1;
		margin: 0;
		border-bottom: 1px solid #e0e0e0;
		text-align: left;
		margin-left: 0em;
	}
	h4 a{
		color: #3e3e3e;
		text-decoration: underline;
	}
	h5 {
		color: #585858;
		font-size: 100%;
		line-height: 1em;
		margin: 0;
		text-align: left;
	}
	p {
		color: #585858;
		font-size: 1em;
		font-weight: lighter;
		line-height: 1em;
		margin: 0;
		text-align: justify;
		max-width: 500px;
	}
	p a {
		color: #f99600;
		font-style: italic;
		text-decoration: none;
	}
	p b { font-weight: bold; }

	.section {
		padding-top: 140px;
		min-height: 100vh;
	}
	
	#leftcol {
		position: absolute;
		display: inline-block;
		width: 250px;
		height: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		left: 25px;
	}
	#rightcol {
		position: absolute;
		display: inline-block;
		width: 530px;
		height: 100vh;
		/*min-height: calc(100vh - 35px - 80px - 20px);*/
		margin: 0;
		padding: 0;
		border: 0;
		top: 0;
		left: 300px;
		text-align: left;
	}	

	#pic {
		width: 230px;
		height: 230px;
		border-radius: 50%;

		margin: auto;
		position: relative;
		top: 50%;
		margin-top: -115px;

		-webkit-transition: all 0.35s ease 0s;
		/* Safari and Chrome */
		-moz-transition: all .35s ease;
	  	/* Firefox */
	  	-ms-transition: all .35s ease;
	  	/* IE 9 */
	  	-o-transition: all .35s ease;
	  	/* Opera */
	  	transition: all .35s ease;

		background: transparent url("../images/portrait.jpg") no-repeat scroll left top;
		background-position: 0 0;
		background-size: 250px;
		background-clip: border-box;
		background-origin: padding-box;
	}
	#pic2 {
		margin: auto;
		text-align: center;
		width: 600px;
		height: 250px;
		background: transparent url("../images/wordle.png") no-repeat scroll left top;
		background-position: 0 0;
		background-size: auto auto;
		background-clip: border-box;
		background-origin: padding-box;
		/* Wodle created on https://tagul.com/


		Text: 
			computational~mechanics
			hydraulic~fracturing
			energy
			geomechanics
			contact~methods
			seismicity
			wave~propagation
			XFEM
			FEM
			fracture~modeling
			infrastructure

		Colors:
			#eeeeee
			#9DC209
			#B041FF
			#3BB9FF
			#F75D59
			#f99600

		Font:
			Expressway Free or Goudy Bookletter
		*/
	}
	#text{
		position: relative;
		width: 100%;
	    justify-content: center;
	    margin-top: 50%;
	    top: -50px;	}

/*------------------------------ FOOTER ------------------------------*/
	#footer {
		clear: both;
		background-color: #eee;
		width: 100%;
		min-width: 830px;
		height: 35px;
		margin: 0;
		padding: 0;
		border: 0;
		border-top: 1px solid #d8d8d8;
		text-align: center;
		margin: auto;
	}
	#footer p {
		font-size: 0.9em;
		line-height: normal;
		width: 48%;
		height: 100%;
		margin: 0;
		padding-left: 2%;
		padding-top: 5px;
		border: 0;
		display: inline;
	}
	#footer p2 {
		font-size: 0.8em;
		display: inline;
		padding-left: 30px;
	}
	#connect {
		float: right;
		width: 48%;
		height: 100%;
		margin: 0;
		margin-right: 2%;
		padding-top: 5px;
		border: 0;
		text-align: right;
		line-height: normal;
	}

