{% extends 'base.html' %}

{% block content %}
	<h3>Awards</h3>

	<p> 
		<br>J. Alan George Leadership Award | 2017
		<br>University of Waterloo Graduate Scholarship | 2017
		<br>David Johnston International Experience Award | 2017
		<br>Provost Doctoral Entrance Award for Women | 2016
		<br>International Doctoral Student Award | 2015-2017
		<br>International Master’s Student Award | 2014
		<br>Engineering International Student Scholarship | 2009-2014
		<br>David Johnston International Experience Award | 2013
		<br>Sanford Fleming Foundation Award | 2013
		<br>CISC Ontario/M&G Steel Scholarship | 2013
		<br>Engineering Faculty/Staff Upper Year Scholarship | 2011
	</p>
{% endblock %}