<!DOCTYPE HTML>
<html>
	<head>
		 <meta content="text/html; charset=UTF-8" http-equiv="content-type">
		 <title>About Me</title>
		 <link rel="stylesheet" href="css/style.css" type="text/css">
		 <link href='http://fonts.googleapis.com/css?family=Didact+Gothic|Raleway' rel='stylesheet' type='text/css'>
		 <meta content="Endrina Rivas" name="author">
		 <meta name="viewport" content="width=900;initial-scale=1;">
		 <script>
			 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			 ga('create', 'UA-68364424-1', 'auto');
			 ga('send', 'pageview');
		</script>
	</head>
	<body onLoad="javascript:pageTracker.dimension1('HideMe');">
	</body>
</html>
