{% extends 'base.html' %}

{% block content %}
	<br>
	<h3>Education</h3>
	
	<!-- <table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #F75D59"></div>
			</td>
			<td>
				<h4>Degrees</h4>
			</td>
		</tr>
	</table> -->
	
	<br>
	<p>
		Candidate for <b>Doctor of Philosophy (PhD)</b>, Civil Engineering
		<br>University of Waterloo
		<br>September 2014 – present
		<br>Expected Graduation: 2019

		<br><br>
		<b>Bachelor of Applied Science (BASc)</b>, Honours, Civil Engineering, with Distinction
		<br>Dean's Honour List
		<br>Structural Engineering Certificate
		<br>University of Waterloo
		<br>2014
	</p>	

	<!-- <table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #F75D59"></div>
			</td>
			<td>
				<h4>Certificates</h4>
			</td>
		</tr>
	</table>

	<p> 
		<b>Fundamentals of University Teaching</b>, Centre for Teaching Excellence
		<br>University of Waterloo
		<br>2015
	</p>
 -->
{% endblock %}