{% extends 'base.html' %}

{% block content %}
	<h3>Education</h3>
	
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #F75D59"></div>
			</td>
			<td>
				<h4>Degrees</h4>
			</td>
		</tr>
	</table>
	<div style="display: inline-block; width: 62%;">
	<p> Candidate for Masters of Applied Science (MASc), Civil Engineering
	<br>University of Waterloo
	<br>September 2014 – present
	<br>Expected Graduation: 2016
	<br><br>
	Bachelor of Applied Science (BASc) Honours in Civil Engineering, with Distinction
	<br><i>Dean's Honour List</i>
	<br>University of Waterloo
	<br>2014</p>	
	</div>
	<div id="pic-left"></div>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #F75D59"></div>
			</td>
			<td>
				<h4>Certificates</h4>
			</td>
		</tr>
	</table>
	<p> Fundamentals of University Teaching, Centre for Teaching Excellence
	<br>University of Waterloo
	<br>2015
	<br><br> Structural Engineering Certificate
	<br>University of Waterloo
	<br>2014</p>
	
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #F75D59"></div>
			</td>
			<td>
				<h4>Courses that have interested me </h4>
			</td>
		</tr>
	</table>
	<p>Structural Dynamics
	<br>Petroleum Geomechanics
	<br>Continuum Mechanics
	<br>Finite Element Analysis
	<br>Nondestructive testing of Civil Infrastructure
	<br>Structural Analysis
	<br>Mechanics of Solids</p>

{% endblock %}