<div class="section" id="education">

	<h3>Education</h3>
	<br>
	<p>
		Candidate for <b>Doctor of Philosophy (PhD)</b>, Civil Engineering
		<br>University of Waterloo
		<br>September 2014 – present
		<br>Expected Graduation: 2019

		<br><br>
		<b>Bachelor of Applied Science (BASc)</b>, Honours, Civil Engineering, with Distinction
		<br>Dean's Honour List
		<br>Structural Engineering Certificate
		<br>University of Waterloo
		<br>2014
	</p>	

	<!-- 	<h4>Certificates</h4>
	<br>
	<p> 
		<b>Fundamentals of University Teaching</b>, Centre for Teaching Excellence
		<br>University of Waterloo
		<br>2015
	</p> -->
</div>
