<div id="home">
	
	<div id="leftcol">
		<div id="pic"></div>
	</div>

	<div id="rightcol">
		<div id="text">
			<h1>Hello! I'm Endrina Rivas</h1>
			<p>I am a graduate student at the University of Waterloo (Department of Civil and Environmental Engineering).
			My current research is focused on making computational models of hydraulic fracturing using the eXtended Finite Element Method (XFEM).</p>
		</div>

		<nav id="bottomnav">
			<ul>
				<li>
					<a href="#education">
						<span class="glyphicon glyphicon-education">
					</a>
				</li>
				<li>
					<a href="#work">
						<span class="glyphicon glyphicon-briefcase">
					</a>
				</li>
				<li>
					<a href="#research">
						<span class="fa fa-lightbulb-o">
					</a>
				</li>
				<li>
					<a href="#skills">
						<span class="fa fa-gears">
					</a>
				</li>
				<li>
					<a href="#awards">
						<span class="fa fa-trophy">
					</a>
				</li>
				<li>
					<a href="#contact">
						<span class="glyphicon glyphicon-envelope">
					</a>
				</li>
			</ul>
		</nav>	
	</div>
</div>