{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

	<div class="section" id="education">

		<h3>Education</h3>
		<br>
		<p>
			Candidate for <b>Doctor of Philosophy (PhD)</b>, Civil Engineering
			<br>University of Waterloo
			<br>September 2014 – present
			<br>Expected Graduation: 2019

			<br><br>
			<b>Bachelor of Applied Science (BASc)</b>, Honours, Civil Engineering, with Distinction
			<br>Dean's Honour List
			<br>Structural Engineering Certificate
			<br>University of Waterloo
			<br>2014
		</p>	
	</div>

	<div class="section" id="work">
		<h3>Professional Experience</h3>
		<br>
		<p>
			<b>Mercadeo VIBE</b> <br>
			Architectural Firm<br>
			Ciudad del Carmen, Campeche México<br>
			September – December 2013<br><br>

			<b>Simpson Gumpertz & Heger</b> <br>
			Engineering Mechanics & Infrastructure<br>
			Waltham, MA USA<br>
			January – April 2013<br><br>

			<b>McCormick Rankin, a Member of MMM Group</b> <br>
			Structural Department, Bridges<br>
			Mississauga, ON Canada<br>
			May – August 2012<br><br>

			<b>EllisDon Corporation</b> <br>
			Construction Management, Southcore Financial Centre<br>
			Toronto, ON Canada<br>
			September – December 2011<br><br>

			<b>Ontario Ministry of Transportation</b> <br>
			Traffic Operations<br>
			St. Catharines, ON Canada<br>
			January – April 2011<br><br>

			<b>AECOM</b> <br>
			Infrastructure Analysis and Asset Management, Water<br>
			Markham, ON Canada<br>
			April – August 2010<br><br>
		</p>
	</div>

	<div class="section" id="research">
		<h3>Research Experience</h3>
		<br>
		<h4>Current Research</h4>
		<br>
		
		<p>
			<b>Hydraulic fracturing modeling</b><br>
			University of Waterloo Graduate Research<br>
			Supervisor: <a href="http://www.civil.uwaterloo.ca/rgracie/">Dr. Robert Gracie</a><br>
			September 2014 – Present<br>
			Check out my <a href="https://www.youtube.com/watch?v=x8w2FV2-A2U">Three Minute Thesis</a>!<br>
			Check out my simulator of a <a href="{% url 'pkn_main' %}">PKN</a> model! 
		</p>
		
		<br><br>
		<div style="height: 150px; margin: 0;">
			<script src="http://cdn.tagul.com/embed/3w5qzparydi7"></script>
		</div>

		<br><br>
		<h4>Undergraduate Research</h4>
		<br>
		
		<p>
			<b>Rehabilitation with fibre reinforced plastic</b><br>
			University of Waterloo Undergraduate Research<br>
			Advisor: Dr. Khaled Soudki<br>
			May – August 2013<br>
			Performed various laboratory tests on strengthening of structures with FRP sheets and stay-in-place FRP formwork<br><br>

			<b>Interface management project development</b><br>
			University of Waterloo Undergraduate Research<br>
			Advisor: Dr. Carl Haas<br>
			September – December 2012<br>
			Developed an offshore oil and gas project used to support research on interface management systems<br><br>

			<b>Non-destructive testing of construction joints in pavement</b><br>
			University of Waterloo Undergraduate Research<br>
			Advisor: Dr. Giovanni Cascante<br>
			September – December 2010<br>
			Performed non-destructive tests on asphalt samples to characterize their properties using mechanical waves 
		</p>
	</div>

	<div class="section" id="skills">
		<h3>Skills</h3>

		<br>
		<h4>Software</h4>
		<br>

		<p><b>Drafting:</b> Autocad, Revit
		<br><b>Structural Analysis/Design: </b>RISA, RAM
		<br><b>Finite Element Modeling & Analysis: </b> SAP2000, MIDAS, ABAQUS
		<br><b>Calculation Software: </b>Mathcad, TEDDS
		<br><b>Programming: </b>MATLAB, Visual Basic, Python
		<br><b>Other: </b>ArcGIS, Microsoft Project, Microsoft Access, HTML + CSS + JavaScript, Django framework</p>

		<br>
		<h4>Languages</h4>
		<br>
		
		<p> 
			<b>English</b>: fluent
			<br> <b>Spanish</b>: fluent
			<br> <b>German</b>: work in progress
		</p>
	</div>

	<div class="section" id="awards">
		<h3>Awards</h3>

		<p> 
			<br>J. Alan George Leadership Award | 2017
			<br>University of Waterloo Graduate Scholarship | 2017
			<br>David Johnston International Experience Award | 2017
			<br>Provost Doctoral Entrance Award for Women | 2016
			<br>International Doctoral Student Award | 2015-2017
			<br>International Master’s Student Award | 2014
			<br>Engineering International Student Scholarship | 2009-2014
			<br>David Johnston International Experience Award | 2013
			<br>Sanford Fleming Foundation Award | 2013
			<br>CISC Ontario/M&G Steel Scholarship | 2013
			<br>Engineering Faculty/Staff Upper Year Scholarship | 2011
		</p>
	</div>

	<div class="section" id="contact">
		<h3>Contact</h3>

		<p>
			<br>Department of Civil & Environmental Engineering
			<br>University of Waterloo
			<br>200 University Ave. W.
			<br>Waterloo, ON.  N2L 3G1
			<br>E2-2352E

			<br><br>
			<strong>Email:</strong> <a href=mailto:endrina.rivas@uwaterloo.ca>[first name] . [last name] @ uwaterloo . ca</a>
			<br>
		</p>

		<br><b
		<div>
			<a href="http://ca.linkedin.com/in/endrinarivas">
				<img style="width: 25px; height: 25px;" src="{% static 'main/images/kin.png' %}">
			</a>
		</div>
	</div>

{% endblock %}