{% load staticfiles %}

<div class="section" id="research">
	<h3>Research Experience</h3>
	<br>
	<h4>Current Research</h4>
	<br>
	
	<p>
		<b>Hydraulic fracturing modeling</b><br>
		University of Waterloo Graduate Research<br>
		Supervisor: <a href="http://www.civil.uwaterloo.ca/rgracie/">Dr. Robert Gracie</a><br>
		September 2014 – Present<br>
		Check out my <a href="https://www.youtube.com/watch?v=x8w2FV2-A2U">Three Minute Thesis</a>!<br>
		Check out my simulator of a <a href="{% url 'pkn_main' %}">PKN</a> model! 
	</p>
	
	<!-- <br><br>
	<div style="height: 150px; margin: 0;">
		<script src="http://cdn.tagul.com/embed/3w5qzparydi7"></script>
	</div> -->

	<br><br>
	<h4>Undergraduate Research</h4>
	<br>
	
	<p>
		<b>Rehabilitation with fibre reinforced plastic</b><br>
		University of Waterloo Undergraduate Research<br>
		Advisor: Dr. Khaled Soudki<br>
		May – August 2013<br>
		Performed various laboratory tests on strengthening of structures with FRP sheets and stay-in-place FRP formwork<br><br>

		<b>Interface management project development</b><br>
		University of Waterloo Undergraduate Research<br>
		Advisor: Dr. Carl Haas<br>
		September – December 2012<br>
		Developed an offshore oil and gas project used to support research on interface management systems<br><br>

		<b>Non-destructive testing of construction joints in pavement</b><br>
		University of Waterloo Undergraduate Research<br>
		Advisor: Dr. Giovanni Cascante<br>
		September – December 2010<br>
		Performed non-destructive tests on asphalt samples to characterize their properties using mechanical waves 
	</p>
</div>