{% extends 'base.html' %}

{% block content %}
	<h3>Research Experience</h3>
	
	<br>
	<p>
	<a href="{% url 'research_current' %}">Current Research</a>
	</p>

	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #9DC209"></div>
			</td>
			<td>
				<h4>Hydraulic fracturing modeling</h4>
			</td>
		</tr>
	</table>
	<p>
		University of Waterloo Graduate Research<br>
		Supervisor: <a href="http://www.civil.uwaterloo.ca/rgracie/">Dr. Robert Gracie</a><br>
		September 2014 – Present<br>
		Check out my <a href="https://www.youtube.com/watch?v=x8w2FV2-A2U">Three Minute Thesis</a>!
	</p>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #9DC209"></div>
			</td>
			<td>
				<h4>Rehabilitation with fibre reinforced plastic</h4>
			</td>
		</tr>
	</table>
	<p>
		University of Waterloo Undergraduate Research<br>
		Advisor: Dr. Khaled Soudki<br>
		May – August 2013<br>
		<br>
		Performed various laboratory tests on strengthening of structures with FRP sheets and stay-in-place FRP formwork
	</p>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #9DC209"></div>
			</td>
			<td>
				<h4>Interface management project development</h4>
			</td>
		</tr>
	</table>
	<p>
		University of Waterloo Undergraduate Research<br>
		Advisor: Dr. Carl Haas<br>
		September – December 2012<br>
		<br>
		Developed an offshore oil and gas project used to support research on interface management systems
	</p>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #9DC209"></div>
			</td>
			<td>
				<h4>Non-destructive testing of construction joints in pavement</h4>
			</td>
		</tr>
	</table>
	<p>
		University of Waterloo Undergraduate Research<br>
		Advisor: Dr. Giovanni Cascante<br>
		September – December 2010<br>
		<br>
		Performed non-destructive tests on asphalt samples to characterize their properties using mechanical waves 
	</p>				
{% endblock %}