{% extends 'base.html' %}

{% block content %}
	<h3>Resume</h3>
	<div style="width: 800px; height: 250px;">
		<script src="http://cdn.tagul.com/embed/3w5qzparydi7"></script>
	</div>
	<p> Explore my background: </p>
	<table id="inline-nav">
		<tr>
			<td>
				<div id="circle" style="background: #F75D59">
					<a href="{%url 'education' %}">Education</a>
				</div>
			</td>
			<td>
				<div id="circle" style="background: #3BB9FF">
					<a href="{%url 'work' %}">Work</a>
				</div>
			</td>
			<td>
				<div id="circle" style="background: #9DC209">
					<a href="{%url 'research' %}">Research</a>
				</div>
			</td>
		</tr>
	</table>
	<table id="inline-nav" style="width: 500px;">
		<tr>
			<td>
				<div id="circle" style="background: #B041FF">
					<a href="{%url 'skills' %}">Skills</a>
				</div>
			</td>
			<td>
				<div id="circle" style="background: #f99600">
					<a href="{%url 'awards' %}">Awards</a>
				</div>
			</td>
		</tr>
	</table>
	<p style="text-align: center;">Click <a href="{% static 'main/files/Resume_Website.pdf' %}">here</a> for a PDF copy.</p>
{% endblock %}