{% extends 'base.html' %}
{% load staticfiles %}

<!-- TODO: convert to a one page about me! with scrolling down and visuals -->
{% block content %}
	<!-- <h3>About Me</h3> -->

	<br><br>
	<!-- <p> Explore my background: </p> -->
	<div style="width: 500px; margin: auto">
		<table id="inline-nav">
			<tr>
				<td>
					<div id="circle" style="background: #F75D59">
						<a href="{% url 'education' %}">Education</a>
					</div>
				</td>
				<td>
					<div id="circle" style="background: #3BB9FF">
						<a href="{% url 'work' %}">Work</a>
					</div>
				</td>
				<td>
					<div id="circle" style="background: #9DC209">
						<a href="{% url 'research' %}">Research</a>
					</div>
				</td>
			</tr>
		</table>
		<table id="inline-nav" style="width: 300px;">
			<tr>
				<td>
					<div id="circle" style="background: #B041FF">
						<a href="{% url 'skills' %}"><span style="vertical-align: middle">Skills</span></a>
					</div>
				</td>
				<td>
					<div id="circle" style="background: #f99600">
						<a href="{% url 'awards' %}">Awards</a>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<p style="text-align: center;">Click <a href="{% static 'main/files/Resume_Website.pdf' %}">here</a> for a PDF copy of my resume.</p>

	<br><br>


{% endblock %}