{% extends 'base.html' %}

{% block content %}
	<h3>Skills</h3>
	
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #B041FF"></div>
			</td>
			<td>
				<h4>Software</h4>
			</td>
		</tr>
	</table>
	<p><b>Drafting:</b> Autocad, Revit
	<br><b>Structural Analysis/Design: </b>RISA, RAM
	<br><b>Finite Element Modeling & Analysis: </b> SAP2000, MIDAS, ABAQUS
	<br><b>Calculation Software: </b>Mathcad, TEDDS
	<br><b>Programming: </b>MATLAB, Visual Basic, Python
	<br><b>Other: </b>ArcGIS, Microsoft Project, Microsoft Access, HTML + CSS</p>
	
	
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #B041FF"></div>
			</td>
			<td>
				<h4>Languages</h4>
			</td>
		</tr>
	</table>
	<p> English - fluent
	<br> Spanish - fluent
	</p>
{% endblock %}