<div class="section" id="work">
	<h3>Professional Experience</h3>
	<br>
	<h4>Industry Positions</h4>
	<br>
	<p>
		<b>Mercadeo VIBE</b> <br>
		Architectural Firm<br>
		Ciudad del Carmen, Campeche México<br>
		September – December 2013<br><br>

		<b>Simpson Gumpertz & Heger</b> <br>
		Engineering Mechanics & Infrastructure<br>
		Waltham, MA USA<br>
		January – April 2013<br><br>

		<b>McCormick Rankin, a Member of MMM Group</b> <br>
		Structural Department, Bridges<br>
		Mississauga, ON Canada<br>
		May – August 2012<br><br>

		<b>EllisDon Corporation</b> <br>
		Construction Management, Southcore Financial Centre<br>
		Toronto, ON Canada<br>
		September – December 2011<br><br>

		<b>Ontario Ministry of Transportation</b> <br>
		Traffic Operations<br>
		St. Catharines, ON Canada<br>
		January – April 2011<br><br>

		<b>AECOM</b> <br>
		Infrastructure Analysis and Asset Management, Water<br>
		Markham, ON Canada<br>
		April – August 2010<br><br>
	</p>

	<br><br>
	<h4>Teaching Positions</h4>
	<br>
	<p>
		<b>Advanced Calculus for Engineers</b><br>
		Teaching Assistant<br>
		Fall 2017<br><br>

		<b>Structural Analysis 2</b><br>
		Teaching Assistant<br>
		Spring 2016<br><br>

		<b>Structural Analysis</b><br>
		Teaching Assistant<br><br>
		
		<b>Rehabilitation of Structures</b><br>
		Teaching Assistant<br>
		Spring 2015<br><br>

		<b>Structural Dynamics</b><br>
		Teaching Assistant<br>
		Winter 2015
	</p>
</div>