{% extends 'base.html' %}

{% block content %}
	<h3>Work Experience</h3>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #3BB9FF"></div>
			</td>
			<td>
				<h4>Mercadeo VIBE</h4>
			</td>
		</tr>
	</table>
	<p>
		Architectural Firm<br>
		Ciudad del Carmen, Campeche México<br>
		September – December 2013<br>
		<ul>
		<font color="#726E6D">
			<li>Performed structural design on various projects, including shallow foundations, steel frames, and concrete slabs. </li>
			<li>Coordinated different parts of a project by liaising with architects and supervising construction.</li>
		</font>
		</ul>
	</p>	
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #3BB9FF"></div>
			</td>
			<td>
				<h4>Simpson Gumpertz & Heger</h4>
			</td>
		</tr>
	</table>				
	<p>
		Engineering Mechanics & Infrastructure<br>
		Waltham, MA USA<br>
		January – April 2013<br>
		<ul>
		<font color="#726E6D">
			<li>Developed knowledge of US building codes and design procedures through several projects, including shallow and deep foundations, concrete and steel design.</li>
			<li>Enhanced  technical writing skills by writing various reports, including a literature review for an AASHTO Culvert Inspection Manual.</li>
			<li>Performed structural analysis of cooling towers on a power plant using NASTRAN and FEMAP.</li>
		</font>
		</ul>
	</p>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #3BB9FF"></div>
			</td>
			<td>
				<h4>McCormick Rankin, a Member of MMM Group</h4>
			</td>
		</tr>
	</table>
	<p>
		Structural Department, Bridges<br>
		Mississauga, ON Canada<br>
		May – August 2012<br>
		<ul>
		<font color="#726E6D">
			<li>Obtained an understanding of the design process through the review of design proposals, analysis of loading on bridges using structural analysis software, and various drafting tasks.</li>
			<li>Performed a section property analysis for the design of the Johnson Street bascule bridge in Victoria, BC.</li>
			<li>Inspected bridges, identifying delaminated concrete over roadways and pedestrian walkways.</li>
		</font>
		</ul>
	</p>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #3BB9FF"></div>
			</td>
			<td>
				<h4>EllisDon Corporation</h4>
			</td>
		</tr>
	</table>
	<p>
		Construction Management, Southcore Financial Centre<br>
		Toronto, ON Canada<br>
		September – December 2011<br>
		<ul>
		<font color="#726E6D">
			<li>Acquired a hands-on view of construction work through tasks such as coordinating site logistics and ordering concrete for daily placements, preparing as-built drawings and schedules for meetings, directing sub-trade work and assisting in site layout during excavation.</li>
			<li>Demonstrated leadership and team work ability through daily communication with sub-trades and co-workers, and training of employees.</li>
		</font>
		</ul>
	</p>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #3BB9FF"></div>
			</td>
			<td>
				<h4>Ontario Ministry of Transportation</h4>
			</td>
		</tr>
	</table>
	<p>
		Traffic Operations<br>
		St. Catharines, ON Canada<br>
		January – April 2011<br>
		<ul>
		<font color="#726E6D">
			<li>Designed pavement markings used on various highways in the Greater Toronto Area using 3D AutoCAD.</li>
			<li>Improved technical writing skills through the writing of Ontario Traffic Manual Book 7 – Temporary Traffic Control.</li>
		</font>
		</ul>
	</p>
	<table id="section">
		<tr>
			<td id="bullet">	
				<div id="circle-bullet" style="background: #3BB9FF"></div>
			</td>
			<td>
				<h4>AECOM</h4>
			</td>
		</tr>
	</table>
	<p>
		Infrastructure Analysis and Asset Management, Water<br>
		Markham, ON Canada<br>
		April – August 2010<br>
		<ul>
		<font color="#726E6D">
			<li>Performed an inflow and infiltration sewer analysis for the Region of York, which included an extensive use of ArcGIS.</li>
			<li>Increased productivity on repetitive tasks by programming macros on Microsoft Excel.</li>
		</font>
		</ul>
	</p>
{% endblock %}	

