{% extends 'pkn/pkn_base.html' %}

{% block content %}
  <form method="post">
    <div class="inner">
      {% csrf_token %}
      <p> Enter design parameters below to determine the length which the PKN crack will propagate during the specified time interval. </p>
      {{ form.as_p }}   
      <p><small> NOTE: Initial inputs are those in Valko, P., & Economides, M. J. (1995) Example 9.1</small></p>
    </div>
    <div class="center-bottom">
      <button type="submit">Calculate!</button>
      <button type="reset" class="icon">
        <span class="glyphicon glyphicon-repeat"></span>
      </button>
      <button type="button" class="icon"
            onclick="location.href='{% url 'pkn_main' %}';">
        <span class="glyphicon glyphicon-home"></span>
      </button>
    </div>
  </form>  
{% endblock %}