{% extends 'pkn/pkn_base.html' %}

{% block content %}

  <div class="main-screen">
    <form>
      <div class="center-vertical">
        <input type="button" 
              value="New Design"
              onclick="location.href='{% url 'pkn_design' %}';"><br><br>
        <input type="button" 
                value="New Analysis"
                onclick="location.href='{% url 'pkn_analysis' %}';"><br><br>
        <input type="button" 
                value="Help"
                onclick="location.href='{% url 'pkn_help' %}';">
      </div>
    </form>
  </div>

{% endblock %}