{% extends 'pkn/pkn_base.html' %}

{% block content %}

	<div class="inner">
	    <p><b>References</b>: <br>
	       [1] Nordgren, R. P. (1972). Propagation of a Vertical Hydraulic 
	           Fracture. Society of Petroleum Engineers Journal, 12(4), <br>
	       [2] Valko, P., & Economides, M. J. (1995). Hydraulic Fracture Mechanics. 
	           New York: John Wiley & Sons. <br>
	       [3] Yew, C. H. (1997). Mechanics of hydraulic fracturing. 
	           Houston, Tex: Gulf Pub. Co.
		</p>
	</div>
	<div class="center-bottom">
		<button type="button" class="icon" 
	      onclick="location.href='{% url 'pkn_main' %}';">
	      	<span class="glyphicon glyphicon-home"></span>
		</button>
	</div>

{% endblock %}