{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <!-- meta content -->
    <meta http-equiv="content-type" 
      content="text/html; 
      charset=UTF-8">
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" 
      content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" 
      content="black">

    <meta name="HandheldFriendly" 
      content="True">
    <meta name="MobileOptimized" 
      content="320">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" 
      content="telephone=no">

    <title>PKN</title>

  <!-- style -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">  
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto|Satisfy" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'pkn/css/pkn.css' %}">

</head>

<body>

  <div class="container">

    <div class="heading">
        <h1 class="title"><a href="{% url 'pkn_main' %}">PKN</a></h1>
        <br/><br/>
        <p>... In progress ... </p>
    </div>

    <div>
      
      <p>A simulator for a PKN hydraulic fracture.</p>

      {% if user.is_authenticated %}

        <p> Hello {{ user.username }} 
          <small>(<a href="{% url 'logout' %}">Log out</a>)</small> 

          <!-- new simulation -->
          <a href="{% url 'sim_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        
          <!-- simulation list -->
          <a href="{% url 'sim_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>

        </p>
      {% else %}

        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span></a>
      {% endif %}
    </div>

    <div class="game-container">
      <div class="main-screen">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <hr>
    <p>
      Created by <a id="name" href="{% url 'index' %}">Endrina Rivas</a>. 
    </p>

  </div>
</body>

</html>