{% extends 'pkn/base.html' %}

{% block content %}
  <script src="pkn_main.js"></script>

      <div class="main-screen">
        <form>
          <div class="center-vertical">
            <input type="button" 
                  value="New Design"
                  onclick="newDesign()"><br><br>
            <input type="button" 
                    value="New Analysis"
                    onclick="newAnalysis()"><br><br>
            <input type="button" 
                    value="Help"
                    onclick="help()">
          </div>
        </form>
      </div>

      <div class="design-input-screen">

        <form class="design-form"
              id="designForm">
          <p> Enter design parameters below to determine the time required to propagate the PKN crack the desired length! </p>

          <div class="left-column">
            <label>Fracture length:</label><br>

            <label>Young's Modulus:</label><br>
            
            <label>Poisson's ratio:</label><br>
            
            <label>Fracture Height:</label><br>
                        
            <label>Fluid viscosity:</label><br>
            
            <label>Fluid injection flow rate:</label><br>
                        
            <label>Fluid-loss Coefficient:</label><br>
                        
            <label>Spurt Loss Coefficient:</label><br>
                        
            <label>Material balance model:</label>            
          </div>

          <div class="right-column">
            <input type="number" value=5><br>

            <input type="number" value=5.5783e+10><br>
            
            <input type="number" value = 0.3><br>
            
            <input type="number" value=51.8><br>
                        
            <input type="number" value=0.2><br>
            
            <input type="number" value=0.0662><br>
                        
            <input type="number" value=9.84e6><br> 
                        
            <input type="number" value=0><br>
                        
            <select id="materialBalance">
              <option>No Leak</option>
              <option>Carter</option>
              <option>Large Leak</option>
            </select><br>
          </div>

          <div class="center-bottom">
            <input type="button" 
                  onclick="designPKN()" 
                  value="Calculate!">
            <input type="reset">
            <input type="button"
                  onclick="homePage()"
                  value="Home Page">
          </div>
       </form>
      </div>

      <div class="analysis-input-screen">
        <form class="analysis-form"
              id="analysisForm">
          <p> Enter design parameters below to determine the length which the PKN crack will propagate during the specified time interval. </p>

          <div class="left-column">

            <label>Simulation start time:</label><br>

            <label>Simulation end time:</label><br>
            
            <label>Time increment:</label><br>
                        
            <label>Young's Modulus:</label><br>
            
            <label>Poisson's ratio:</label><br>
            
            <label>Fracture Height:</label><br>
            
            <label>Fluid viscosity:</label><br>
                        
            <label>Fluid injection flow rate:</label><br>
            
            <label>Fluid-loss Coefficient:</label><br>

            <label>Spurt Loss Coefficient:</label><br>
                        
            <label>Material balance model:</label><br>   
          </div>

          <div class="right-column">
            <input type="number" value=0><br>

            <input type="number" value=12000><br>
            
            <input type="number" value=20><br>
                        
            <input type="number" value=5.5783e+10><br>
            
            <input type="number" value = 0.3><br>
            
            <input type="number" value=51.8><br>
            
            <input type="number" value=0.2><br>
                        
            <input type="number" value=0.0662><br>
            
            <input type="number" value=9.84e6><br>                      
            <input type="number" value=0><br>
                        
            <select id="materialBalance">
              <option>No Leak</option>
              <option>Carter</option>
              <option>Large Leak</option>
            </select><br>
          </div>

          <div class="center-bottom">
            <input type="button" 
                onclick="analysePKN()" 
                value="Calculate!">
            <input type="reset">

            <!-- TODO: CHANGE TO HOME SCREEN ICON -->
            <input type="button"
                  onclick="homePage()"
                  value="Home Page">
          </div>

        </form>      
      </div>

      <div class="results-screen">
        <p id="result"></p>

        <form>
          <div class="center-bottom">
            <input type="button" 
                  onclick="newDesign()" 
                  value="New Design">
            <input type="button" 
                  onclick="newAnalysis()" 
                  value="New Analysis">
            <input type="button"
                  onclick="homePage()"
                  value="Home Page">
          </div>
        </form>
      </div>

      <!-- TODO: write help message (with images) -->
      <div class="help-screen">
        <p>help</p>
        <form>
          <div class="center-bottom">
            <input type="button"
                  onclick="homePage()"
                  value="Home Page">
          </div>
        </form>
      </div>

      <div class="error-screen">
        <p> An error has occurred. This feature is currently not supported. </p>
        <form>
          <div class="center-bottom">
            <input type="button"
                  onclick="homePage()"
                  value="Home Page">
          </div>
        </form>
      </div>
    </div>

{% endblock %}